{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> the test </h1>

                <a href="{{ path('get_emails') }}">Check emails log and post new json</a><br>
                <a href="{{ path('get_emails',{_format:'json'}) }}">Get email list in JSON format </a><br>
                Alternatively send POST request with JSON body to <input type="text" value="{{ url('get_emails',{_format:'json'}) }}" class="form-control">
            </div>


        </div>
    </div>
{% endblock %}

